/* info container */
.info-container {
  display: flex;
  flex-direction: row;
  background-color: var(--main-bg-color);
}

.img-product-container {
  flex: 40%;
  border-right: 2px solid #eee;
  padding: 2rem;
}

.img-product-container > h2 {
  display: none;
} 


.img-product-container > img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.detail-container {
  flex: 60%;
  padding: 2rem;
}

@media(max-width: 800px) {
  .info-container {
    flex-direction: column;
    padding: 0 3rem;
  }

  .img-product-container {
    border: none;
  }

  .img-product-container > h2 {
    display: inline-block;
  }

  .detail-container > h2 {
    display: none;
  }

}

/* price */
.detail-container  hr {
  border: 1px solid #eee;
  margin: 3rem 0 1rem 0;
}
.product-price {
  display: block;
  padding: 1rem 5rem;
  border-radius: 4px;
  background-color: #eee;
}

.product-price > p{
  margin: 1rem 0;
}

.price-end {
  color: var(--main-color);
  font-weight: bold;
  font-size: 3rem;
}

/* qty */
.value-button {
  cursor: pointer;
  display: inline-block;
  border: 1px solid #ddd;
  background-color: #eee;
  margin: auto;
  width: 4rem;
  /* height: 4rem;
  padding-top: 1rem; */
  line-height: calc(4rem - 2px);
  text-align: center;
  vertical-align: middle; 
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  background-color: #ccc;
}

.increase-qty{
  margin-left: -0.4rem;
  border-radius: 0 8px 8px 0;
}

.decrease-qty{
  margin-right: -0.4rem;
  border-radius: 8px 0 0 8px;
}

.input-qty {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 0;
  width: 4rem;
  height: 4rem;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   margin: 0;
   -webkit-appearance: none;
}

/* buy btn */
.buy-btn {
  display: inline-block;
  text-decoration: none;
  color: var(--second-color);
  background-color: var(--danger-color);
  padding: 1.5rem 0rem;
  margin-top: 3rem;
  width: 60%;
  border-radius: 5px;
  text-align: center;
}

.buy-btn:hover {
  opacity: 0.8;
}

/* description */
.description-container {
  padding: 0;
}

.description-title {
  padding: 0 2rem;
  text-transform: uppercase;
}

.description-p {
  background-color: var(--main-bg-color);
  padding: 4rem 6rem;
  text-align: justify;
  white-space: pre-wrap;
}

/*Vote box*/
.checked {
  color: rgb(253, 216, 54)
}
.box-vote{
  position: relative;
}
.btn-vote{
  background-color: #06c1d4;
  color: #fff;
  height: 48px;
  font-weight: 600;
  text-align: center;
  border-radius: 56px;
  text-decoration: none;
  cursor: pointer;
  width: 30%;
  right: 50px;
  position:absolute;
  line-height: 48px;
}

.star-vote-container{
  display: flex;
}
.star-votes{
  margin-left: 50px;
  margin-top: 5px;
  display: flex;
}
.star-vote{
  margin-right: 25px;
}
.reviews{
  margin-top: 50px;
  background-color: #fff;
}
.review{
  border-top: 1px solid #eee;
  padding-top: 15px;
  padding-bottom: 15px;
}
.main-content{
  padding: 48px;
}
.user-name{
  margin-right: 30px;
  font-weight: 500;
  text-transform: capitalize;
}
.review-content{
  font-size: 15px;
  margin-left: 50px;
}
.email{
  font-size: 15px;
}
.comment-box{
  position: relative;
}
#btn-cmt{
  top: 8px;
}
/*Reply*/
.reply{
  margin-left: 50px;
  display: flex;
}
.reply-content{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
.fa-reply{
  transform: rotate(180deg);
  line-height: 30px;
}
.admin-name{
  font-size: 16px;
}
.admin-reply{
  font-size: 15px;
}