
.content {
  width: 70%;
  /* overflow-x: auto; */
}

.table-responsive-container {
  width: 100%;
  overflow-x: auto;
}
@media (max-width: 800px) {
  .content {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .content {
    width: 100%;
  }
}


table {
  background-color: var(--main-bg-color);
  border-collapse: collapse;
}

table, tr {
  width: max-content;
  /* border: 1px solid var(--dark-color); */
  border: 1px solid var(--border-color);
}

th, td {
  padding: 1rem 2rem;
  font-size: 1.5rem;
}

th {
  text-align: left;
  width: max-content;
}

tr:hover {
  background-color: #f1f9ff;
}

td {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* display: inline-block;
  text-overflow: initial;
  overflow: initial;
  white-space: initial; */
}

.table-row-link {
  cursor: pointer;
  color: var(--primary-color);
}