body {
  background-color: var(--light-second-background);
}
.main-content {
  display: flex;
  gap: 4rem;
  padding: 1rem 2rem;
 
}


.content {
  width: 60%;
}

@media (max-width: 600px) {
  .content {
    width: 100%;
  } 
}

.content > form {
  width: 100%;
  padding: 2rem;
  border-radius: 4px;
  background-color: var(--main-bg-color);
}

.form-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0;
}
.form-item label {
  font-size: 1.5rem;
  width: 15rem;
}

.form-item > input[type="text"], .form-item > input[type="password"] {
  width: 100%;
  padding: 1rem 1.8rem;
  border: 1px solid var(--main-color);
  border-radius: 4px;
}

.form-item > input[type="text"]:focus, .form-item > input[type="password"]:focus {
  border: 2px solid var(--primary-color);
}

.form-item > input[type="submit"] {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 1.5rem 4rem;
  border-radius: 4px;
  background-color: var(--warning-color);
}


