<!DOCTYPE html>
<html>
  <head>
    <title>Giỏ hàng | eShop</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="icon" type="image/png" href="../assets/customer/logo200px.png" >

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="../css/customer/style.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/aa8e5675e3.js" crossorigin="anonymous"></script>

    <!--  -->
    <link rel="stylesheet" type="text/css" href="../css/customer/error_page.css">
    <link rel="stylesheet" type="text/css" href="../css/customer/transaction.css">
    <link rel="stylesheet" type="text/css" href="../css/customer/transaction-detail.css">
    <link rel="stylesheet" type="text/css" href="../css/customer/cart.css">
  </head>
  <body class="overlay-scrollbar">
    <header class="header" id="header">
      <!-- navbar -->
      
      <div class="navbar">
        <ul class="navbar-nav">
          <li class="navbar-item" id="navbar-menu-btn" onclick="toggleMenu()">
            <i class="fas fa-bars navbar-icon"></i>
          </li>
          <li class="navbar-item">
            <a href="#"><img src="../assets/customer/logo-side1200_400px.png" alt="logo eshop" class="logo"></a>
          </li>
        </ul> 

        <ul class="navbar-nav navbar-tab">
          <li class="navbar-item">
            <a href="index.html" class="navbar-item-link" title="Trang chủ">Trang chủ</a>
          </li>
          <li class="navbar-item">
            <a href="#" class="navbar-item-link" title="Sản phẩm">Sản phẩm</a>
          </li>
          <li class="navbar-item">
            <a href="#" class="navbar-item-link" title="Liên hệ">Liên hệ</a>
          </li>
        </ul> 

        <div class="search-form-desktop">
          <form action="/pages/search-results-page" class="search-form">
              <input type="text" aria-label="Search products" placeholder="Tìm sản phẩm" class="search-input" id="search-input">
              <button class="search-button" type="submit" aria-label="Search">
                  <span class="search-icon"><i class="fas fa-search"></i></span>
              </button>
          </form>
        </div>
        
        <ul class="navbar-nav">
          <li class="navbar-item dropdown search-form-mobile">
            <i class="fas fa-search navbar-search-icon navbar-icon dropdown-toggle" data-toggle="search-menu" title="Tìm kiếm"></i>
            
            <div id="search-menu" class="dropdown-menu search-bar">
              <form method="GET" action="Search" id="search-form" autocomplete="off">
                <input type="search" placeholder="Nhập thông tin sản phẩm, danh mục" name="searchValue" id="search-bar">
                <input type="submit" value="Tìm kiếm" id="search-button">
              </form>
            </div>
          </li>

          <li class="navbar-item dropdown">
            <i class="fas fa-user dropdown-toggle navbar-icon " data-toggle="user-menu" title="Tài khoản"></i>

            <ul id="user-menu" class="dropdown-menu">
              <li class="dropdown-menu-item">
                <a href="user_info.html" class="dropdown-menu-link">
                  <i class="fas fa-user"></i>
                  <span>Thông tin tài khoản</span>
                </a>
              </li>
              <li class="dropdown-menu-item">
                <a href="history_transaction.html" class="dropdown-menu-link">
                  <i class="fas fa-shopping-bag"></i>
                  <span>Lịch sử mua hàng</span>
                </a>
              </li>
              <li class="dropdown-menu-item">
                <a href="index_notlogin.html" class="dropdown-menu-link">
                  <i class="fas fa-sign-out-alt"></i>
                  <span>Đăng xuất</span>
                </a>
              </li>
            </ul>

          </li>
          <li class="navbar-item">
            <div class="login-button">
              <a href=""><span>Đăng nhập/</span>
                <span>Đăng ký</span>
              </a>              
            </div>
          </li>

          <li class="navbar-item">
            <div class="cart-wrapper">
              <i class="fas fa-shopping-cart cart-icon navbar-icon" title="Giỏ hàng"></i>
              <span class="cart-number-product">100</span>
            </div>
          </li>
        </ul> 
        
      </div>
      <div class="navbar-column" id="navbar-menu">
        <ul class="navbar-nav-column ">
          <li class="navbar-item-column">
            <a href="index.html" class="navbar-link-column" title="Trang chủ">Trang chủ</a>
          </li>
          <li class="navbar-item-column">
            <a href="#" class="navbar-link-column" title="Sản phẩm">Sản phẩm</a>
          </li>
          <li class="navbar-item-column">
            <a href="#" class="navbar-link-column" title="Liên hệ">Liên hệ</a>
          </li>
        </ul>
      </div>
    </header>
    <!-- <div class="loading-wrapper">
      <img src="../assets/customer/loading5.gif">
    </div> -->


    <main class="main-content">
      <div class="loading-wrapper">
        <img src="../assets/customer/logo-side180_60px.png" class="loading-logo logo">
        <p>Đang tải trang, bạn chờ một chút nhé ^^</p>
        <img src="../assets/customer/loading4-crop.gif" class="loading-gif">
      </div>

      <div class="content">
        <h2 class="notice">Giỏ hàng <span>(3 sản phẩm)</span></h2>
        <div class="table-responsive-container">
          <table class="product-cart-table" >
            <tr>
              <th>Sản phẩm</th>
              <th>Tên sản phẩm</th>
              <th>Giá</th>
              <th>Số lượng</th>
            </tr>
            <tr>
              <td class="table-row-link" data-link="#">
                <img class="img-product-row" src="../assets/customer/product1.jpg">
              </td>
              <td class="product-name-row">
                Dell Latitude 7480 123221  424325  sf è  we3fsd  wewqdwd 3eqwdwwd 3eqwdwd 3e3w
              </td>
              <td class="product-price-row">
                <p class="price-end-row">12.000.000 đ</p>
              </td>
              <td class="product-qty-row">
                <div>
                  <span class="decrease-qty value-button" onclick="decreaseValue(this)">-</span>
                  <input class="input-qty" type="number" value="1" min="1" max="99" id="number" required>
                  <span class="increase-qty value-button" onclick="increaseValue(this)">+</span>
                </div>
                <a href="#" class="remove-product-btn">Xóa</a>
              </td>
            </tr>

            <tr>
              <td class="table-row-link" data-link="#">
                <img class="img-product-row" src="../assets/customer/product2.jpg">
              </td>
              <td class="product-name-row">
                Dell Latitude 12323221  424325
              </td>
              <td class="product-price-row">
                <p class="price-end-row">12.000.000 đ</p>
              </td>
              <td class="product-qty-row">
                <div>
                  <span class="decrease-qty value-button" onclick="decreaseValue(this)">-</span>
                  <input class="input-qty" type="number" value="1" min="1" max="5" id="number" required>
                  <span class="increase-qty value-button" onclick="increaseValue(this)">+</span>
                </div>
                <a href="#" class="remove-product-btn">Xóa</a>
              </td>
            </tr>
            <tr>
              <td class="table-row-link" data-link="#">
                <img class="img-product-row" src="../assets/customer/product3.jpg">
              </td>
              <td class="product-name-row">
                Dell Latitude 12323221  424325aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              </td>
              <td class="product-price-row">
                <p class="price-end-row">12.000.000 đ</p>
              </td>
              <td class="product-qty-row">
                <div>
                  <span class="decrease-qty value-button" onclick="decreaseValue(this)">-</span>
                  <input class="input-qty" type="number" value="1" min="1" max="99" id="number" required>
                  <span class="increase-qty value-button" onclick="increaseValue(this)">+</span>
                </div>
                <a href="#" class="remove-product-btn">Xóa</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="side-container">
        <img src="../assets/customer/wallet.svg">
        <table class="money-container">
          <tr>
            <td class="money-item">Tạm tính</td>
            <td class="money-value">12.000.000 đ</td>
          </tr>
          <!-- <tr>
            <td class="money-item">Phí vận chuyển</td>
            <td class="money-value">0 đ</td>
          </tr> -->
          <tr>
            <td class="money-item">Tổng cộng</td>
            <td class="money-value" id="total-money">12.000.000 đ</td>
          </tr>
          <tr>
            <td class="money-item"></td>
            <td class="money-value" id="notice-VAT">(Đã bao gồm VAT nếu có)</td>
          </tr>
        </table>
        <a href="#" class="pay-link">Tiến hành thanh toán</a>
      </div>
    </main>

    <footer class="footer">
      <hr>
      <div class="footer-info-container">
        <div class="footer-info-column">
          <p class="footer-info-title">Về chúng tôi</p>
          <ul>
            <li class="footer-info-item">Giới thiệu</li>
            <li class="footer-info-item">Chính sách bảo mật thông tin</li>
          </ul>
        </div>
        <div class="footer-info-column">
          <p class="footer-info-title">Hỗ trợ khách hàng</p>
          <ul>
            <li class="footer-info-item">Hướng dẫn đặt hàng</li>
            <li class="footer-info-item">Hướng dẫn thanh toán</li>
            <li class="footer-info-item">Chính sách đổi trả</li>
            <li class="footer-info-item">
              <a target="_blank" href="mailto:hotro@eshop.vn">Hỗ trợ khách hàng: hotro@eshop.vn</a>
            </li>
            <li class="footer-info-item">
              <a target="_blank" href="mailto:hotro@eshop.vn">Báo lỗi hệ thống: system@eshop.vn</a>
            </li>
            
          </ul>
        </div>
        <div class="footer-info-column">
          <p class="footer-info-title">Liên hệ</p>
          <ul>
            <li class="footer-info-item">
              <i class="fas fa-map-marker-alt"></i>
              <a target="_blank" href="https://www.google.com/maps/place/Nh%C3%A0+TC+Tr%C6%B0%E1%BB%9Dng+%C4%90%E1%BA%A1i+H%E1%BB%8Dc+B%C3%A1ch+Khoa+H%C3%A0+N%E1%BB%99i/@21.0026909,105.8443743,17z/data=!3m1!4b1!4m5!3m4!1s0x3135ac76a80aa08f:0x4ebcb2843f16b1c!8m2!3d21.0026909!4d105.846563">
                104 Lê Thanh Nghị, Bách Khoa, Hai Bà Trưng, Hà Nội
              </a>
            </li>
            <li class="footer-info-item">
              <i class="fas fa-phone-alt"></i>
              <a target="_blank" href="tel:0989123456">0989123456</a>
            </li>
            <li class="footer-info-item">
              <i class="fas fa-envelope"></i>
              <a target="_blank" href="mailto:eshop@gmail.com">eshop@gmail.com</a>
            </li>
            <li class="footer-info-item">
              <a target="_blank" href="#" class="footer-link-icon"><i class="fab fa-facebook-square"></i></a>
              <a target="_blank" href="#" class="footer-link-icon"><i class="fab fa-twitter-square"></i></a>
              <a target="_blank" href="#" class="footer-link-icon"><i class="fab fa-instagram-square"></i></a>
              <a target="_blank" href="#" class="footer-link-icon"><i class="fab fa-youtube-square"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <hr>
      <div>Coppyright &copy; 2021</div>
    </footer>
    <a id="go-to-head" onclick="topFunction()">
      <i class="fas fa-angle-up"></i>
    </a>

    <script src="../js/customer/index.js"></script>
    <script src="../js/customer/table.js"></script>
    <script src="../js/customer/product.js"></script>
    <script src="../js/customer/scrollToTop.js"></script>
  </body>
  
</html>