<!DOCTYPE html>
<html>
  <head>
    <title>Đăng nhập | eShop</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="icon" type="image/png" href="../assets/customer/logo200px.png" >
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="../css/customer/style.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/aa8e5675e3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../css/customer/index.css">
    <link href="../css/customer/login.css" rel="stylesheet" type="text/css">
  </head>
  <body class="overlay-scrollbar">
    <header class="header" id="header">
      <!-- navbar -->
      
      <div class="navbar">
        <ul class="navbar-nav">
          <li class="navbar-item" id="navbar-menu-btn" onclick="toggleMenu()">
            <i class="fas fa-bars navbar-icon"></i>
          </li>
          <li class="navbar-item">
            <a href="#"><img src="../assets/customer/logo-side1200_400px.png" alt="logo eshop" class="logo"></a>
          </li>
        </ul> 

        <ul class="navbar-nav navbar-tab">
          <li class="navbar-item">
            <a href="index.html" class="navbar-item-link" title="Trang chủ">Trang chủ</a>
          </li>
          <li class="navbar-item" id="products-cates">
            <a href="#" class="navbar-item-link" title="Sản phẩm" >Sản phẩm</a>
          </li>
          <li class="navbar-item">
            <a href="#" class="navbar-item-link" title="Liên hệ">Liên hệ</a>
          </li>
        </ul> 

        <div class="search-form-desktop">
          <form action="/pages/search-results-page" class="search-form">
              <input type="text" aria-label="Search products" placeholder="Tìm sản phẩm" class="search-input" id="search-input">
              <button class="search-button" type="submit" aria-label="Search">
                  <span class="search-icon"><i class="fas fa-search"></i></span>
              </button>
          </form>
        </div>
        
        <ul class="navbar-nav">
          <li class="navbar-item dropdown search-form-mobile">
            <i class="fas fa-search navbar-search-icon navbar-icon dropdown-toggle" data-toggle="search-menu" title="Tìm kiếm"></i>
            
            <div id="search-menu" class="dropdown-menu search-bar">
              <form method="GET" action="Search" id="search-form" autocomplete="off">
                <input type="search" placeholder="Nhập thông tin sản phẩm, danh mục" name="searchValue" id="search-bar">
                <input type="submit" value="Tìm kiếm" id="search-button">
              </form>
            </div>
          </li>

          <li class="navbar-item dropdown">
            <i class="fas fa-user dropdown-toggle navbar-icon " data-toggle="user-menu" title="Tài khoản"></i>

            <ul id="user-menu" class="dropdown-menu">
              <li class="dropdown-menu-item">
                <a href="user_info.html" class="dropdown-menu-link">
                  <i class="fas fa-user"></i>
                  <span>Thông tin tài khoản</span>
                </a>
              </li>
              <li class="dropdown-menu-item">
                <a href="history_transaction.html" class="dropdown-menu-link">
                  <i class="fas fa-shopping-bag"></i>
                  <span>Lịch sử mua hàng</span>
                </a>
              </li>
              <li class="dropdown-menu-item">
                <a href="index_notlogin.html" class="dropdown-menu-link">
                  <i class="fas fa-sign-out-alt"></i>
                  <span>Đăng xuất</span>
                </a>
              </li>
            </ul>

          </li>
          <li class="navbar-item">
            <div class="login-button">
              <a href=""><span>Đăng nhập/</span>
                <span>Đăng ký</span>
              </a>              
            </div>
          </li>

          <li class="navbar-item">
            <div class="cart-wrapper">
              <i class="fas fa-shopping-cart cart-icon navbar-icon" title="Giỏ hàng"></i>
              <span class="cart-number-product">100</span>
            </div>
          </li>
        </ul> 
        
      </div>
      <div class="navbar-column" id="navbar-menu">
        <ul class="navbar-nav-column ">
          <li class="navbar-item-column">
            <a href="index.html" class="navbar-link-column" title="Trang chủ">Trang chủ</a>
          </li>
          <li class="navbar-item-column">
            <a href="#" class="navbar-link-column" title="Sản phẩm">Sản phẩm</a>
          </li>
          <li class="navbar-item-column">
            <a href="#" class="navbar-link-column" title="Liên hệ">Liên hệ</a>
          </li>
        </ul>
      </div>
      <!--Menu cac loai san pham-->
      <div class="product-cate-link" id="product-cate-link">
        <a href="index.html" class="navbar-item-link" title="Trang chủ">Dell</a>
        <a href="index.html" class="navbar-item-link" title="Trang chủ">HP</a>
        <a href="index.html" class="navbar-item-link" title="Trang chủ">Razer</a>
        <a href="index.html" class="navbar-item-link" title="Trang chủ">Lenovo</a>
        <a href="index.html" class="navbar-item-link" title="Trang chủ">Asus</a>
        <a href="index.html" class="navbar-item-link" title="Trang chủ">Acer</a>
        <a href="index.html" class="navbar-item-link" title="Trang chủ">Microsoft</a>
        <a href="index.html" class="navbar-item-link" title="Trang chủ">Apple</a>
        <a href="index.html" class="navbar-item-link" title="Trang chủ">MSI</a>
        <a href="index.html" class="navbar-item-link" title="Trang chủ">LG</a>
      </div>

    </header>

    <main class="main-content">
      <img src="../assets/customer/login.svg" alt="login img" class="img-side">
      <!--<form class="login-form" action="#" method="post">-->
      
        <!-- <div class="login-imgcontainer">
          <img src="../assets/customer/logo-side180_60px.png" alt="logo" class="logo">
        </div> -->
      <div class="form">
        <div class="login-imgcontainer">
          <h2>Đăng nhập</h2>
        </div>
        <div class="login-container">
          <div class="label-container">
            <label class="label-item" for="username">Tên đăng nhập</label>
            <span>Chưa có tài khoản? <a href="/signup">Đăng ký</a></span>
          </div>
          <input type="text" placeholder="Nhập tên đăng nhập" name="username" class="username-input" id="username" required>


          <div class="label-container">
            <label class="label-item" for="password">Mật khẩu</label>
            <div class="show-hide-pwd" id="show-pwd" onclick="showPwd('hide-pwd', 'show-pwd', 'password')">
              <i class="fas fa-eye"></i>
              <span>Hiện</span>
            </div>
            <div class="show-hide-pwd hide" id="hide-pwd" onclick="hidePwd('hide-pwd', 'show-pwd', 'password')">
              <i class="fas fa-eye-slash"></i>
              <span>Ẩn</span>
            </div>
          </div>
          <input type="password" placeholder="Nhập mật khẩu" name="password" id="password" class="password-input" required>
          <!-- <label><input type="checkbox" checked="checked" name="remember" class="remember-password">Lưu thông tin đăng nhập</label>
-->
          <button id="submit">Đăng nhập</button>
        </div>
      </div>

      <!--</form>-->
      
    </main>

    <footer class="footer">
      <hr>
      <div class="footer-info-container">
        <div class="footer-info-column">
          <p class="footer-info-title">Về chúng tôi</p>
          <ul>
            <li class="footer-info-item">Giới thiệu</li>
            <li class="footer-info-item">Chính sách bảo mật thông tin</li>
          </ul>
        </div>
        <div class="footer-info-column">
          <p class="footer-info-title">Hỗ trợ khách hàng</p>
          <ul>
            <li class="footer-info-item">Hướng dẫn đặt hàng</li>
            <li class="footer-info-item">Hướng dẫn thanh toán</li>
            <li class="footer-info-item">Chính sách đổi trả</li>
            <li class="footer-info-item">
              <a target="_blank" href="mailto:hotro@eshop.vn">Hỗ trợ khách hàng: hotro@eshop.vn</a>
            </li>
            <li class="footer-info-item">
              <a target="_blank" href="mailto:hotro@eshop.vn">Báo lỗi hệ thống: system@eshop.vn</a>
            </li>
            
          </ul>
        </div>
        <div class="footer-info-column">
          <p class="footer-info-title">Liên hệ</p>
          <ul>
            <li class="footer-info-item">
              <i class="fas fa-map-marker-alt"></i>
              <a target="_blank" href="https://www.google.com/maps/place/Nh%C3%A0+TC+Tr%C6%B0%E1%BB%9Dng+%C4%90%E1%BA%A1i+H%E1%BB%8Dc+B%C3%A1ch+Khoa+H%C3%A0+N%E1%BB%99i/@21.0026909,105.8443743,17z/data=!3m1!4b1!4m5!3m4!1s0x3135ac76a80aa08f:0x4ebcb2843f16b1c!8m2!3d21.0026909!4d105.846563">
                104 Lê Thanh Nghị, Bách Khoa, Hai Bà Trưng, Hà Nội
              </a>
            </li>
            <li class="footer-info-item">
              <i class="fas fa-phone-alt"></i>
              <a target="_blank" href="tel:0989123456">0989123456</a>
            </li>
            <li class="footer-info-item">
              <i class="fas fa-envelope"></i>
              <a target="_blank" href="mailto:eshop@gmail.com">eshop@gmail.com</a>
            </li>
            <li class="footer-info-item">
              <a target="_blank" href="#" class="footer-link-icon"><i class="fab fa-facebook-square"></i></a>
              <a target="_blank" href="#" class="footer-link-icon"><i class="fab fa-twitter-square"></i></a>
              <a target="_blank" href="#" class="footer-link-icon"><i class="fab fa-instagram-square"></i></a>
              <a target="_blank" href="#" class="footer-link-icon"><i class="fab fa-youtube-square"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <hr>
      <div>Coppyright &copy; 2021</div>
    </footer>
    <a id="go-to-head" onclick="topFunction()">
      <i class="fas fa-angle-up"></i>
    </a>

    <script src="../js/customer/index.js"></script>
    <script src="../js/customer/scrollToTop.js"></script>

    <script>
              // Instantiate an new XHR Object
        document.getElementById("submit").addEventListener('click', () =>{
          const username = document.getElementById("username").value;
          const password = document.getElementById("password").value;
          const xhr = new XMLHttpRequest();
          xhr.open("POST", "http://localhost:3000/api/v1/users/login");
          // xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
          // When response is ready
          // xhr.onload = function () {
            
          // }
          // var body = 'username='+username+'&password='+password+'&name='+name;
          // console.log(body);
          // xhr.send("username=endlesshn&password=fdf&name=tung");
            xhr.setRequestHeader("Accept", "application/json");
            xhr.setRequestHeader("Content-Type", "application/json; charset=utf-8");
            let data = JSON.stringify({
              username:username,
              password:password,
            });
            xhr.onload=function(){
              if(this.status == 200){
                if ( typeof(Storage) !== "undefined") {
                  console.log('ho tro')
                }
                var obj = JSON.parse(xhr.response);
                localStorage.setItem('user_id', obj.id)
                localStorage.setItem('token', obj.token)
                localStorage.setItem('name', obj.name)
                var token = localStorage.getItem('token')
                console.log(obj['id'], obj)
                console.log(localStorage.getItem('name'))
                window.location.replace("http://localhost:3000/");
              }
              console.log(xhr.response)
              
              // SAU KHI HOAN THANH DANG KI
            }
            // var data = `{
            //   "username": "endlesshn",
            //   "password": "tungcoloa",
            //   "name": "nguyentung"
            // }`;
            console.log(typeof(data));
            xhr.send(data);
            })
            
    </script>
  </body>
  
</html>