<!DOCTYPE html>
<html>

<head>
  <title>Dell Latitude 7480 | eShop</title>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="icon" type="image/png" href="../assets/customer/logo200px.png">

  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="../css/customer/style.css" rel="stylesheet" type="text/css">
  <script src="https://kit.fontawesome.com/aa8e5675e3.js" crossorigin="anonymous"></script>

  <!--  -->
  <link rel="stylesheet" type="text/css" href="../css/customer/product-detail.css">
</head>

<body class="overlay-scrollbar">
  <header class="header" id="header">
    <!-- navbar -->
    
    <div class="navbar">
      <ul class="navbar-nav">
        <li class="navbar-item" id="navbar-menu-btn" onclick="toggleMenu()">
          <i class="fas fa-bars navbar-icon"></i>
        </li>
        <li class="navbar-item">
          <a href="#"><img src="../assets/customer/logo-side1200_400px.png" alt="logo eshop" class="logo"></a>
        </li>
      </ul> 

      <ul class="navbar-nav navbar-tab">
        <li class="navbar-item">
          <a href="index.html" class="navbar-item-link" title="Trang chủ">Trang chủ</a>
        </li>
        <li class="navbar-item">
          <a href="#" class="navbar-item-link" title="Sản phẩm">Sản phẩm</a>
        </li>
        <li class="navbar-item">
          <a href="#" class="navbar-item-link" title="Liên hệ">Liên hệ</a>
        </li>
      </ul> 

      <div class="search-form-desktop">
        <form action="/pages/search-results-page" class="search-form">
            <input type="text" aria-label="Search products" placeholder="Tìm sản phẩm" class="search-input" id="search-input">
            <button class="search-button" type="submit" aria-label="Search">
                <span class="search-icon"><i class="fas fa-search"></i></span>
            </button>
        </form>
      </div>
      
      <ul class="navbar-nav">
        <li class="navbar-item dropdown search-form-mobile">
          <i class="fas fa-search navbar-search-icon navbar-icon dropdown-toggle" data-toggle="search-menu" title="Tìm kiếm"></i>
          
          <div id="search-menu" class="dropdown-menu search-bar">
            <form method="GET" action="Search" id="search-form" autocomplete="off">
              <input type="search" placeholder="Nhập thông tin sản phẩm, danh mục" name="searchValue" id="search-bar">
              <input type="submit" value="Tìm kiếm" id="search-button">
            </form>
          </div>
        </li>

        <li class="navbar-item dropdown">
          <i class="fas fa-user dropdown-toggle navbar-icon " data-toggle="user-menu" title="Tài khoản"></i>

          <ul id="user-menu" class="dropdown-menu">
            <li class="dropdown-menu-item">
              <a href="user_info.html" class="dropdown-menu-link">
                <i class="fas fa-user"></i>
                <span>Thông tin tài khoản</span>
              </a>
            </li>
            <li class="dropdown-menu-item">
              <a href="history_transaction.html" class="dropdown-menu-link">
                <i class="fas fa-shopping-bag"></i>
                <span>Lịch sử mua hàng</span>
              </a>
            </li>
            <li class="dropdown-menu-item">
              <a href="index_notlogin.html" class="dropdown-menu-link">
                <i class="fas fa-sign-out-alt"></i>
                <span>Đăng xuất</span>
              </a>
            </li>
          </ul>

        </li>
        <li class="navbar-item">
          <div class="login-button">
            <a href=""><span>Đăng nhập/</span>
              <span>Đăng ký</span>
            </a>              
          </div>
        </li>

        <li class="navbar-item">
          <div class="cart-wrapper">
            <i class="fas fa-shopping-cart cart-icon navbar-icon" title="Giỏ hàng"></i>
            <span class="cart-number-product">100</span>
          </div>
        </li>
      </ul> 
      
    </div>
    <div class="navbar-column" id="navbar-menu">
      <ul class="navbar-nav-column ">
        <li class="navbar-item-column">
          <a href="index.html" class="navbar-link-column" title="Trang chủ">Trang chủ</a>
        </li>
        <li class="navbar-item-column">
          <a href="#" class="navbar-link-column" title="Sản phẩm">Sản phẩm</a>
        </li>
        <li class="navbar-item-column">
          <a href="#" class="navbar-link-column" title="Liên hệ">Liên hệ</a>
        </li>
      </ul>
    </div>
  </header>
  <!-- <div class="loading-wrapper">
    <img src="../assets/customer/loading5.gif">
  </div> -->

  <main class="main-content">
    <div class="loading-wrapper">
      <img src="../assets/customer/logo-side180_60px.png" class="loading-logo logo">
      <p>Đang tải trang, bạn chờ một chút nhé ^^</p>
      <img src="../assets/customer/loading4-crop.gif" class="loading-gif">
    </div> 

    <div class="info-container">
      <div class="img-product-container">
        <h2 class="product-name">Dell Latitude 7480 core i5-6300U, RAM 16GB DDR4, SSD 256GB</h2>
        <img src="../assets/customer/product1.jpg" alt="product">
      </div>
      <div class="detail-container">
        <h2 class="product-name">Dell Latitude 7480 core i5-6300U, RAM 16GB DDR4, SSD 256GB</h2>
        <div class="product-price">
          <p class="price-end">12.000.000 đ</p>
        <!-- <p class="price-discount">
            <span>15.000.000 đ</span> | <span>-20%</span>
          </p>-->

        </div>

        <hr>
        <p>Số Lượng</p>
        <div class="product-qty-container">
          <span class="decrease-qty value-button" onclick="decreaseValue(this)">-</span>
          <input class="input-qty" type="number" value="1" min="1"  max="5" id="number" required>
          <span class="increase-qty value-button" onclick="increaseValue(this)">+</span>
        </div>

        <a href="#" class="buy-btn">Chọn Mua</a>
      </div>
    </div>

    <div class="description-container">
      <h3 class="description-title">Mô tả sản phẩm</h3>
      <p class="description-p">Laptop Dell Latitude E7280 Core i5 7300U/ Ram 8Gb/ SSD 256Gb/ Màn 12.5 inch HD
        Thiết kế
        
        Dell Latitude 7280 có vỏ máy được làm bằng hợp kim nhôm cao cấp và được sơn đen nhám nên cho cảm giác cầm nắm cực tốt, tăng sự chắc chắn và bền bỉ cho chiếc laptop này mà vẫn giữ được vẻ thanh lịch vốn có. Phần khung máy cũng được làm bằng hợp kim cao cấp khiến nó thậm chí vượt qua được cả bài test tiêu chuẩn MIL-STD 810G của quân đội Mỹ.
        
        Kích thước của E7280 là 304.8 x 208 x 17.05 mm và nặng khoảng 1.18Kg - mỏng hơn so với các sản phẩm cùng dòng Latitude đi trước của Dell, thậm chí là so cả với dòng Dell XPS 13. Nhưng Dell Latitude 7280 sẽ có thiết kế tối giản vì là dòng sản phẩm mà Dell nhắm đến các đối tượng là doanh nhân cần sự bền bỉ, gọn nhẹ, và có độ bảo mật cao.
        
        Bàn phím và Touchpad
        
        Bàn phím trên Dell Latitude 7280 rất tốt, cho cảm giác gõ tốt và độ đàn hồi sâu - hành trình lên đến 1,7mm và lực là 60 gram. Khung máy chắc chắn bởi hợp kim vì vậy bàn phím sẽ không bị flex gây khó chịu như nhiều mẫu laptop rẻ tiền.
        
        Touchpad trên Dell Latitude 7280 hỗ trợ đa điểm của Windows 10 và có kích thước khá rộng rãi 9,65cm x 5,5cm. Đủ cho nhu cầu sử dụng cá nhân. Cảm giác di chuyển tay trên Touchpad tốt, phản hồi tức thì do đây là mẫu laptop cao cấp hàng đầu. Các nút bấm tích hợp cũng cho một cảm giác cao cấp khi có sự chắc chắn và êm cần thiết.
        
        Cổng kết nối
        
        Với yêu cầu là một mẫu laptop dành cho doanh nhân phục vụ nhu cầu công việc thì Dell E7280 được trang bị rất đầy đủ các cổng kết nối. Bao gồm: DC-in, DisplayPort, USB Type C Thunderbolt Options, HDMI, 2 x USB (3.0), RJ45, Audio, Optional WiGig Dock.
        
        Âm thanh
        
        Chất lượng âm thanh trên chiếc laptop doanh nhân thế này thường ở mức trung bình. Và Dell Latitude 7280 không phải ngoại lệ. Nó sẽ không được tốt như những chiếc laptop thiên về khả năng giải trí.</p>
    </div>

    <div class="box-vote">            
      <h3 class="description-title">Đánh giá của khách hàng</h3>
      <div class="star-vote-container">
        <div class="star-votes">
          <div class="star-vote">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </div>        
          <span>15 đánh giá</span>
        </div>
        <a href="" class="btn-vote">Viết đánh giá</a>

      </div>

      <div class="reviews">
        <div class="review">
          <div class="star-votes">
            <span class="user-name">Nguyen Kim Tung</span>
            <div class="star-vote">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </div>   
            
          </div>
          <p class="review-content">San pham that tuyet voi!!!</p>
      </div>
      <div class="review">
        <div class="star-votes">
          <span class="user-name">Nguyen Kim Tung</span>
          <div class="star-vote">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </div>   
          
        </div>
        <p class="review-content">San pham that tuyet voi!!!</p>
    </div>
    </div>

    
    <div class="comment-box">
      <h3 class="description-title">Bình luận</h3>
      <!--
        <div class="your-cmt">
        <span>Bình luận của bạn</span>
        <form action="" class="comment">
          <input type="text" name="" id="">
        </form>
      </div>
      -->
      
      <a href="" class="btn-vote" id="btn-cmt">Viết bình luận</a>
      <div class="reviews">
        <div class="review">
          <div class="star-votes">
            <span class="user-name">Nguyen Kim Tung</span>
            <span class="email">tungnk183661@gmail.com</span>            
          </div>
          <p class="review-content">San pham ho tro nang cap bao nhieu RAM?</p>
          <div class="reply">
            <i class="fas fa-reply"></i>
            <div class="reply-content">
              <span class="admin-name">Admin</span>
              <span class="admin-reply">San pham ho tro nang cap them 8GB RAM ban nhe</span>
            </div>
          </div>

      </div>
      <div class="review">
        <div class="star-votes">
          <span class="user-name">Nguyen Kim Tung</span>
          <span class="email">tungnk183661@gmail.com</span>
          
        </div>
        <p class="review-content">San pham that tuyet voi!!!</p>
    </div>
    </div>
    </div>
  </main>

  <footer class="footer">
    <hr>
    <div class="footer-info-container">
      <div class="footer-info-column">
        <p class="footer-info-title">Về chúng tôi</p>
        <ul>
          <li class="footer-info-item">Giới thiệu</li>
          <li class="footer-info-item">Chính sách bảo mật thông tin</li>
        </ul>
      </div>
      <div class="footer-info-column">
        <p class="footer-info-title">Hỗ trợ khách hàng</p>
        <ul>
          <li class="footer-info-item">Hướng dẫn đặt hàng</li>
          <li class="footer-info-item">Hướng dẫn thanh toán</li>
          <li class="footer-info-item">Chính sách đổi trả</li>
          <li class="footer-info-item">
            <a target="_blank" href="mailto:hotro@eshop.vn">Hỗ trợ khách hàng: hotro@eshop.vn</a>
          </li>
          <li class="footer-info-item">
            <a target="_blank" href="mailto:hotro@eshop.vn">Báo lỗi hệ thống: system@eshop.vn</a>
          </li>

        </ul>
      </div>
      <div class="footer-info-column">
        <p class="footer-info-title">Liên hệ</p>
        <ul>
          <li class="footer-info-item">
            <i class="fas fa-map-marker-alt"></i>
            <a target="_blank"
              href="https://www.google.com/maps/place/Nh%C3%A0+TC+Tr%C6%B0%E1%BB%9Dng+%C4%90%E1%BA%A1i+H%E1%BB%8Dc+B%C3%A1ch+Khoa+H%C3%A0+N%E1%BB%99i/@21.0026909,105.8443743,17z/data=!3m1!4b1!4m5!3m4!1s0x3135ac76a80aa08f:0x4ebcb2843f16b1c!8m2!3d21.0026909!4d105.846563">
              104 Lê Thanh Nghị, Bách Khoa, Hai Bà Trưng, Hà Nội
            </a>
          </li>
          <li class="footer-info-item">
            <i class="fas fa-phone-alt"></i>
            <a target="_blank" href="tel:0989123456">0989123456</a>
          </li>
          <li class="footer-info-item">
            <i class="fas fa-envelope"></i>
            <a target="_blank" href="mailto:eshop@gmail.com">eshop@gmail.com</a>
          </li>
          <li class="footer-info-item">
            <a target="_blank" href="#" class="footer-link-icon"><i class="fab fa-facebook-square"></i></a>
            <a target="_blank" href="#" class="footer-link-icon"><i class="fab fa-twitter-square"></i></a>
            <a target="_blank" href="#" class="footer-link-icon"><i class="fab fa-instagram-square"></i></a>
            <a target="_blank" href="#" class="footer-link-icon"><i class="fab fa-youtube-square"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <hr>
    <div>Coppyright &copy; 2021</div>
  </footer>
  <a id="go-to-head" onclick="topFunction()">
    <i class="fas fa-angle-up"></i>
  </a>

  <script src="../js/customer/index.js"></script>
  <script src="../js/customer/scrollToTop.js"></script>
  <script src="../js/customer/product.js"></script>
</body>

</html>
